<footer class="footer_section">
	<div class="container">
		<!--<div class="col-xs-12">
			<h2>{{'ang_contactus' | translate}}</h2>
		</div>-->
		<div class="row contact-detail">
			<div class="col-md-5 col-sm-4 col-xs-12">
				<!--<h3><span class="contact-icon"><i class="fa fa-map-marker"></i></span>{{'ang_headoffice' | translate}}</h3>
                <p>{{'ang_headofficeline1' | translate}}<br> {{'ang_headofficeline2' | translate}}<br> {{'ang_headofficeline3' | translate}}<br> {{'ang_headofficeline4' | translate}}</p>-->
                <div class="foo-logo">
                    <a href="#" title="RYEC"><img src="../../../assets/images/logo.png"></a>
                </div>
                <ul>
                    <li>
                        <span class="contact-icon"><i class="fa fa-map-marker"></i></span>{{'ang_branchofficeline1' | translate}} {{'ang_branchofficeline2' | translate}} <br>
{{'ang_branchofficeline3' | translate}} {{'ang_branchofficeline4' | translate}}.
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-phone"></i></span> <a href="tel:919909115555" title="Call Us"> +91 9909115555 , </a><a href="tel:919099937890" title="Call Us">+91 9099937890</a>
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-envelope"></i></span> <a href="mailto:info@ryuva.club" title="Mail Us">info@ryuva.club</a>
                    </li>
                </ul>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<h3><!--<span class="contact-icon"><i class="fa fa-map-marker"></i></span>{{'ang_branchoffice' | translate}}-->{{'ang_information' | translate}} </h3>
                <!--<p> {{'ang_branchofficeline1' | translate}}<br> {{'ang_branchofficeline2' | translate}} <br> {{'ang_branchofficeline3' |  
                 translate}}<br> {{'ang_branchofficeline4' | translate}}</p>-->
                 <ul class="foo-nav">
                         <li>
                             <a href="javascript:void(0);" routerLink="about" routerLinkActive="active" title="{{'ang_aboutus' | translate}}">{{'ang_aboutus' | translate}}</a>
                         </li>
                         <li>
                            <a href="javascript:void(0);" routerLink="contact" routerLinkActive="active" title="{{'ang_contactus' | translate}}">{{'ang_contactus' | translate}}</a>
                        </li>
                         <li>
                             <a href="javascript:void(0);" routerLink="/privacy-policy" routerLinkActive="active" title="{{'ang_privacyandpolicy' | translate}}">{{'ang_privacyandpolicy' | translate}}</a>
                         </li>
                         <li>
                             <a href="javascript:void(0);" routerLink="/terms-conditions" routerLinkActive="active" title="{{'ang_termsandconditions' | translate}}">{{'ang_termsandconditions' | translate}}</a>
                         </li>
                         <!-- <li>
                             <a href="javascript:void(0);" title="{{'ang_careers' | translate}}">{{'ang_careers' | translate}}</a>
                         </li> -->
                         <li>
                             <a href="javascript:void(0);" routerLink="/faqs" routerLinkActive="active" title="{{'ang_faqs' | translate}}">{{'ang_faqs' | translate}}</a>
                         </li>
                 </ul>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<!--<ul>
                    <li>
                        <span class="contact-icon"><i class="fa fa-phone"></i></span> <a href="tel:919909115555" title="Call Us">+9199091 15555</a>
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-phone"></i></span> <a href="tel:919099937890" title="Call Us">+91 90999 37890</a>
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-envelope"></i></span> <a href="mailto:info@ryuva.club" title="Mail Us">info@ryuva.club</a>
                    </li>
                </ul>-->
                <h3>{{'ang_oursocial' | translate}} </h3>
                <ul>
                    <li>
                        <span class="contact-icon"><i class="fa fa-linkedin"></i></span> <a href="#" target="_blank" title="{{'ang_linkedin' | translate}}">{{'ang_linkedin' | translate}}</a>
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-facebook"></i></span> <a href="https://www.facebook.com/rajputyuva.rajput" target="_blank" title="{{'ang_facebook' | translate}}">{{'ang_facebook' | translate}}</a>
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-twitter"></i></span> <a href="https://twitter.com/ryeclub" target="_blank" title="{{'ang_twitter' | translate}}">{{'ang_twitter' | translate}}</a>
                    </li>
                    <li>
                        <span class="contact-icon"><i class="fa fa-instagram"></i></span> <a href="https://www.instagram.com/rajputyuvaclub/" target="_blank" title="{{'ang_instagram' | translate}}">{{'ang_instagram' | translate}}</a>
                    </li>
                </ul>
			</div>
		</div>
	</div><!-- container End -->
</footer>
<div class="footer_copyright">
	<div class="container">
	    <div class="row">
	        <div class="col-md-6 col-sm-6 col-xs-12 copytext">© {{year}}  www.ryuva.club  |   {{'ang_allrightsreserved' | translate}}</div>
	        <div class="col-md-6 col-sm-6 col-xs-12">
	            <ul class="list-inline">
	                <li><a href="#" title="{{'ang_appstore' | translate}}" target="_blank"><img src="../../../assets/images/app-store.png"></a></li>
	                <li><a href="#" title="{{'ang_googleplaystore' | translate}}" target="_blank"><img src="../../../assets/images/google-play.png"></a></li>
	            </ul>
	        </div>
	    </div>
	</div>
</div><!-- footer_copyright End -->