<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <div class="menu_RYEC category_menu" *ngIf="categoriesArr?.length > 0">
        <h2>{{'ang_categories' | translate}}</h2>
        <ul>
          <li *ngFor="let item of categoriesArr; let i=index">
            <a href="" routerLink="/category/{{item.category_slug}}" (click)="saveParentCategories(item)">
              <span>
                <img width="25px" height="25px" [src]="item.image_url">
              </span>{{item.name}}</a>
          </li>
          <li *ngIf="categoriesArr?.length > 0">
            <a href="javascript:void(0)" routerLink="/atoz/categories">
              <span class="a-z-categories-hover"></span>{{'ang_atozcategories' | translate}}</a>
          </li>
        </ul>
      </div>
      <!-- menu_RYEC End -->
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
      <div class="map_section">
        <ngui-map zoom="13" center="{{center_lat}}, {{center_long}}">
          <custom-marker position="{{user_lat}}, {{user_long}}">
            <div>
              <img src="assets/images/user-marker.png" height="40px" />
            </div>
          </custom-marker>
          <marker *ngFor="let pos of businessMarkers" position="{{pos.latitude}}, {{pos.longitude}}" (click)="clicked($event, pos)">
          </marker>
          <info-window id="ibn">
            <div style="width: 200px;cursor: pointer;" routerLink="/home/business-detail/{{business_slug}}">
              <p>{{business_title}}</p>
              <p>{{business_address}}</p>
            </div>
          </info-window>
        </ngui-map>
      </div>
      <!-- map_section End -->
      <div class="trending_services_view trending_services_title" *ngIf="trendServiceArr?.length > 0">
        <h2>{{'ang_trendingservices' | translate}}</h2>
        <a href="" class="view_all_btn" routerLink="/trending/service">{{'ang_viewall' | translate}}</a>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let item of trendServiceArr | slice:0:6; let i=index">
            <div *ngIf="item.sub_category_count > 0; then showCategory; else showBusinessDetail"></div>
            <ng-template #showCategory>
              <a href="" routerLink="/service/{{item.category_slug}}" (click)="saveParentCategory(item)">
                <div class="trending_box">
                  <img [src]="item.category_logo" alt="legal">
                  <div class="trending_title">{{item.category_name}}</div>
                  <!-- trending_title -->
                </div>
                <!-- trending_box End -->
              </a>
            </ng-template>
            <ng-template #showBusinessDetail>
              <a href="" routerLink="/home/business-list/{{item.category_slug}}/relevance">
                <div class="trending_box">
                  <img [src]="item.category_logo" alt="legal">
                  <div class="trending_title">{{item.category_name}}</div>
                  <!-- trending_title -->
                </div>
                <!-- trending_box End -->
              </a>
            </ng-template>
            <!-- trending_box End -->
          </div>
          <!-- col End -->
        </div>
        <!-- Row End -->
      </div>
      <!-- trending_services_view End -->
      <div class="trending_services_view" *ngIf="trendCategorieArr?.length > 0">
        <h2>{{'ang_trendingcategories' | translate}}</h2>
        <a href="" class="view_all_btn" routerLink="/trending/category">{{'ang_viewall' | translate}}</a>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let item of trendCategorieArr | slice:0:6; let i=index">
            <div *ngIf="item.sub_category_count > 0; then showCategory; else showBusinessDetail"></div>
            <ng-template #showCategory>
              <a href="" routerLink="/category/{{item.category_slug}}" (click)="saveParentCategory(item)">
                <div class="trending_box">
                  <img [src]="item.category_logo" alt="legal">
                  <div class="trending_title">{{item.category_name}}</div>
                  <!-- trending_title -->
                </div>
                <!-- trending_box End -->
              </a>
            </ng-template>
            <ng-template #showBusinessDetail>
              <a href="" routerLink="/home/business-list/{{item.category_slug}}/relevance">
                <div class="trending_box">
                  <img [src]="item.category_logo" alt="legal">
                  <div class="trending_title">{{item.category_name}}</div>
                  <!-- trending_title -->
                </div>
                <!-- trending_box End -->
              </a>
            </ng-template>
            <!-- col End -->
          </div>
          <!-- Row End -->
        </div>
		<!-- trending_services_view End -->
		
		<div class="trending_services_view" *ngIf="premiumBusinessArr?.length > 0">
			<h2>{{'ang_premiumbusinesses' | translate}}</h2>
			<a href="" class="view_all_btn" routerLink="/home/business-list/premium-business/relevance">{{'ang_viewall' | translate}}</a>
			<div class="row flex-container">
				<div class="col-md-6 col-sm-6 col-xs-6 flex-items" *ngFor="let item of premiumBusinessArr | slice:0:4; let i=index">
					<div class="promoted_business_view clearfix" routerLink="/home/business-detail/{{item.business_slug}}">
						<a href="javascript:void(0);">
							<div class="promote_img">
								<img [src]="item.business_image" alt="gtpl">
							</div>
						</a>
						<!-- promote_img End -->
						<div class="promote_content">
							<h3>{{item.name}}</h3>
							<ul>
								<li class="text-overflow-hidden">
									<i class="fa fa-user" aria-hidden="true" *ngIf="item.user_name"></i>{{item.user_name}}
								</li>
								<li>
									<i class="fa fa-mobile" aria-hidden="true" *ngIf="item.mobile"></i>{{item.country_code}}<span *ngIf="item?.country_code">-</span>{{item.mobile}}
								</li>
								<li class="text-overflow-hidden" *ngIf="item.country">
									<i class="fa fa-map-marker " aria-hidden="true"></i>
									{{item.city}} <span *ngIf="item.city">, </span> {{item.state}} <span *ngIf="item.state">, </span> {{item.country}}
								</li>
								<li class="text-overflow-hidden">
									<i class="fa fa-angle-right" aria-hidden="true" *ngIf="item.parent_category_name"></i>{{item.parent_category_name}}
								</li>
							</ul>
						</div>
						<!-- promote_content End -->
					</div>
					<!-- promoted_business_view End -->
				</div>
				<!-- col End -->
			</div>
			<!-- Row End -->
		</div>


        <!-- <div class="trending_services_view" *ngIf="promotedBusinessArr?.length > 0">
          <h2>{{'ang_promotedbusinesses' | translate}}</h2>
          <a href="" class="view_all_btn" routerLink="/home/business-list/promoted-business/relevance">{{'ang_viewall' | translate}}</a>
          <div class="row flex-container">
            <div class="col-md-6 col-sm-6 col-xs-6 flex-items" *ngFor="let item of promotedBusinessArr | slice:0:4; let i=index">
              <div class="promoted_business_view clearfix" routerLink="/home/business-detail/{{item.business_slug}}">
                <a href="javascript:void(0);">
                  <div class="promote_img">
                    <img [src]="item.business_image" alt="gtpl">
                  </div>
                </a> -->
                <!-- promote_img End -->
                <!-- <div class="promote_content">
                  <h3>{{item.name}}</h3>
                  <ul>
                    <li class="text-overflow-hidden">
                      <i class="fa fa-user" aria-hidden="true" *ngIf="item.user_name"></i>{{item.user_name}}
                    </li>
                    <li>
                      <i class="fa fa-mobile" aria-hidden="true" *ngIf="item.mobile"></i>{{item.country_code}}<span *ngIf="item?.country_code">-</span>{{item.mobile}}
                    </li>
                    <li class="text-overflow-hidden" *ngIf="item.country">
                      <i class="fa fa-map-marker " aria-hidden="true"></i>
                        {{item.city}} <span *ngIf="item.city">, </span> {{item.state}} <span *ngIf="item.state">, </span> {{item.country}}
                    </li> -->
                    <!-- <li class="text-overflow-hidden" *ngIf="item?.categories?.length > 0">
                      <i class="fa fa-angle-right text-overflow-hidden" aria-hidden="true"></i>
                      <span *ngFor="let cat of item.categories; let isLast=last; ">
                        {{cat.category_name}}{{isLast ? '' : ', '}}
                      </span>
                      <span>{{item?.categories[0]['category_name']}}</span>
                    </li> -->
                    <!-- <li class="text-overflow-hidden">
                      <i class="fa fa-angle-right" aria-hidden="true" *ngIf="item.parent_category_name"></i>{{item.parent_category_name}}</li>
                  </ul>
                </div> -->
                <!-- promote_content End -->
              <!-- </div> -->
              <!-- promoted_business_view End -->
            <!-- </div> -->
            <!-- col End -->
          <!-- </div> -->
          <!-- Row End -->
        <!-- </div> -->
        <div class="trending_services_view" *ngIf="recentlyAddedBusinessArr?.length > 0">
          <h2>{{'ang_recenltyaddedbusinesses' | translate}}</h2>
          <a href="" class="view_all_btn" routerLink="/home/business-list/recently-added-business/relevance">{{'ang_viewall' | translate}}</a>
          <div class="row flex-container">
            <div class="col-md-6 col-sm-6 col-xs-6 flex-items" *ngFor="let item of recentlyAddedBusinessArr | slice:0:4; let i=index;">
              <div class="promoted_business_view clearfix" routerLink="/home/business-detail/{{item.business_slug}}">
                <a href="javascript:void(0);">
                  <div class="promote_img">
                    <img [src]="item.business_image" alt="gtpl">
                  </div>
                </a>
                <!-- promote_img End -->
                <div class="promote_content">
                  <h3>{{item.name}}</h3>
                  <ul>
                    <li class="text-overflow-hidden">
                      <i class="fa fa-user" aria-hidden="true" *ngIf="item.user_name"></i>{{item.user_name}}
                    </li>
                    <li>
                      <i class="fa fa-mobile" aria-hidden="true" *ngIf="item.mobile"></i>{{item.country_code}}<span *ngIf="item?.country_code">-</span>{{item.mobile}}
                    </li>
                    <li class="text-overflow-hidden" *ngIf="item.country">
                      <i class="fa fa-map-marker " aria-hidden="true"></i>
                        {{item.city}} <span *ngIf="item.city">, </span> {{item.state}} <span *ngIf="item.state">, </span> {{item.country}}
                    </li>
                    <!-- <li *ngIf="item?.categories?.length > 0" class="text-overflow-hidden">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <span *ngFor="let cat of item.categories; let isLast=last; ">
                        {{cat.category_name}}{{isLast ? '' : ', '}}
                      </span>
                      <span>{{item?.categories[0]['category_name']}}</span>
                    </li> -->
                    <li class="text-overflow-hidden">
                      <i class="fa fa-angle-right" aria-hidden="true" *ngIf="item.parent_category_name"></i>{{item.parent_category_name}}</li>
                  </ul>
                </div>
                <!-- promote_content End -->
              </div>
            </div>

            <!-- Row End -->
          </div>
          <div class="trending_services_view" *ngIf="popularBusinessArr?.length > 0">
            <h2>{{'ang_mostpopularbusinesses' | translate}}</h2>
            <a href="" class="view_all_btn" routerLink="/home/business-list/most-populuar-business/popularity">{{'ang_viewall' | translate}}</a>
            <div class="row flex-container">
              <div class="col-md-6 col-sm-6 col-xs-6 flex-items" *ngFor="let item of popularBusinessArr | slice:0:4; let i=index;">
                <div class="promoted_business_view clearfix" routerLink="/home/business-detail/{{item.business_slug}}">
                  <a href="javascript:void(0);">
                    <div class="promote_img">
                      <img [src]="item.business_image" alt="gtpl">
                    </div>
                  </a>
                  <!-- promote_img End -->
                  <div class="promote_content">
                    <h3>{{item.name}}</h3>
                    <ul>
                      <li class="text-overflow-hidden">
                        <i class="fa fa-user" aria-hidden="true" *ngIf="item.user_name"></i>{{item.user_name}}
                      </li>
                      <li>
                        <i class="fa fa-mobile" aria-hidden="true" *ngIf="item.mobile"></i>{{item.country_code}}<span *ngIf="item?.country_code">-</span>{{item.mobile}}
                      </li>
                      <li class="text-overflow-hidden" *ngIf="item.country">
                        <i class="fa fa-map-marker " aria-hidden="true"></i>
                          {{item.city}} <span *ngIf="item.city">, </span> {{item.state}} <span *ngIf="item.state">, </span> {{item.country}}
                      </li>
                      <!-- <li *ngIf="item?.categories?.length > 0" class="text-overflow-hidden">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span *ngFor="let cat of item.categories; let isLast=last; ">
                          {{cat.category_name}}{{isLast ? '' : ', '}}
                        </span>
                        <span>{{item?.categories[0]['category_name']}}</span>
                      </li> -->
                      <li class="text-overflow-hidden">
                        <i class="fa fa-angle-right" aria-hidden="true" *ngIf="item.parent_category_name"></i>{{item.parent_category_name}}</li>
                    </ul>
                  </div>
                  <!-- promote_content End -->
                </div>
                <!-- promoted_business_view End -->
              </div>
              <!-- col End -->
              <!-- promoted_business_view End -->
            </div>
            <!-- col End -->
          </div>
        <!-- <div class="trending_services_view" *ngIf="investmentOpportunityArr?.length > 0">
			<h2>{{'ang_investmentopprtunities' | translate}}</h2>
			<a href="" class="view_all_btn" routerLink="/home/investment-opportunity/relevance">{{'ang_viewall' | translate}}</a>
			<div class="row flex-container">
				<div class="col-md-6 col-sm-6 col-xs-6 flex-items" *ngFor="let item of investmentOpportunityArr | slice:0:4; let i=index">
					<div class="promoted_business_view clearfix" routerLink="/home/investment-opportunity-detail/{{item.title_slug}}">
						<a href="javascript:void(0);">
							<div class="promote_img">
								<img [src]="item.file_images" alt="gtpl">
							</div>
						</a> -->
						<!-- promote_img End -->
						<!-- <div class="promote_content">
							<h3>{{item.title}}</h3>
							<ul>
								<li class="text-overflow-hidden">
									<i class="fa fa-user" aria-hidden="true" *ngIf="item.creator_name"></i>{{item.creator_name}}
								</li>
								<li>
									<i class="fa fa-inr" aria-hidden="true" *ngIf="item.investment_amount_start"></i>{{item.investment_amount_start}} - {{item.investment_amount_end}}
								</li>
								<li class="text-overflow-hidden">
									<i class="fa fa-map-marker" aria-hidden="true" *ngIf="item.location"></i>{{item.location}}</li>
								<li *ngIf="item.category_name" class="text-overflow-hidden">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
									<span>
										{{item.category_name}}
									</span>
								</li>
							</ul>
						</div> -->
						<!-- promote_content End -->
					<!-- </div> -->
					<!-- promoted_business_view End -->
				<!-- </div> -->
				<!-- col End -->
			<!-- </div> -->
			<!-- Row End -->
		</div>
        </div>
      </div>
    </div>
    <!-- Row  End -->
  </div>
  <!--container end-->
