.category_menu {
  display: block;
  position: static;
  height: auto;
  overflow-y: inherit;
  width: 100%;
}

.newsletter_view {
  background: #ffffff;
  padding: 25px;
  margin-top: 45px;
}

.newsletter_view h2 {
  font-size: 22px;
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.newsletter_form h3 {
  color: #3d3d3d;
  font-size: 15px;
  margin: 20px 0;
}

.newsletter_form .controls input {
  width: 100%;
  height: 45px;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: none;
  border: 0;
  padding: 0 15px;
}

.subscribe_btn {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  padding: 10px 25px;
  margin-top: 22px;
}

.map_section,
.map_section ngui-map {
  border-bottom: 8px solid #c59b42;
}

.map_section iframe {
  width: 100%;
  height: 100%;
}

.trending_services_view {
  position: relative;
}

.view_all_btn {
  color: #c59b42;
  font-size: 18px;
  font-family: 'Lato-Heavy';
  position: absolute;
  right: 0;
  top: 26px;
  cursor: pointer;
  border-bottom: 1px solid #c59b42;
}

.trending_services_view h2 {
  font-size: 20px;
  font-family: 'Lato-Heavy';
  padding: 30px 0;
  margin-bottom: 0;
}

.trending_box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 30px;
}

.trending_box:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
}

.trending_box img {
  width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.trending_box:hover img {
  transform: scale3d(1.2, 1.2, 1.2);
  -webkit-transform: scale3d(1.2, 1.2, 1.2);
  -moz-transform: scale3d(1.2, 1.2, 1.2);
  -ms-transform: scale3d(1.2, 1.2, 1.2);
  -o-transform: scale3d(1.2, 1.2, 1.2);
}

.trending_title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Lato-Heavy';
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.promoted_business_view {
  background: #ffffff;
  width: 100%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out 0s;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.promoted_business_view:hover {
  transition: all .3s ease-in-out 0s;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.promote_img {
  width: 40%;
  float: left;
  height: 222px;
  display: inline-block;
  overflow: hidden;
}

.promote_img img {
  width: 100%;
  height: 100%;
}

.promote_content {
  width: 60%;
  float: left;
  padding: 15px;
  display: inline-block;
}

.promote_content h3 {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Lato-Heavy';
  margin-bottom: 15px;
}

.promote_content li {
  font-size: 18px;
  margin-bottom: 15px;
}

.promote_content li:last-child {
  margin-bottom: 0;
}

.promote_content li i {
  font-size: 22px;
  width: 16px;
  vertical-align: middle;
}

.promote_content li:nth-child(1) i {
  font-size: 18px;
}

.promote_content li:nth-child(3) i {
  font-size: 20px;
}

.promote_content li:nth-child(4) i {
  padding-left: 3px;
}

@media (max-width: 1200px){
  .trending_title{font-size: 20px;}
  .promote_content h3{font-size: 16px;}
  .promote_content li{font-size: 14px;margin-bottom: 10px;}

}
@media (max-width: 1024px){
  .trending_title{font-size: 20px;}
  .trending_title{font-size: 20px;}
  .promote_content h3{font-size: 16px;}
  .promote_content li{font-size: 14px;margin-bottom: 10px;}
  .promote_content li i{font-size: 23px;}
  .promote_content li:nth-child(4) i{font-size: 20px;}
}
@media (max-width: 991px){
  .category_menu{padding:7px 7px 0 7px;}
  .menu_RYEC h2 {font-size: 18px;}
  .menu_RYEC ul li a{font-size: 12px;}
  .trending_title{font-size: 16px;}
  .menu_RYEC ul li:last-child{margin: 0 -7px;padding: 0 7px;}
  
  .promote_img{width: 100%;height: 150px;overflow: hidden;}
  .promote_content{padding:10px 15px;width: 100%;}
  .menu_RYEC ul li span{margin-right:7px; }
  .trending_services_title .view_all_btn{top: 26px;}
  .view_all_btn{font-size: 16px;top: -3px;}
  .trending_services_view h2{padding:0 0 30px 0;}
  .trending_services_title h2{padding:30px 0;}
}
@media (max-width: 767px){
  .menu_RYEC ul li a{font-size: 13px;}
  .promote_content{padding:15px;}
  .promote_content h3{font-size: 14px;}
  /* .map_section{height: 250px;} */
  .promote_content li{font-size: 14px;}
}
@media (max-width: 575px){
  .menu_RYEC ul li span{width: 9%;}
  .menu_RYEC ul li a{font-size: 14px;}
  .trending_title{font-size: 20px;}
  .view_all_btn{font-size: 14px;top: 0px;}
  .trending_services_view h2{font-size: 17px;}
  .promote_content li{font-size: 14px;}
}
