.control-group input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #b3b3b2;
  width: 100%;
  font-size: 24px;
  color: #000;
  font-family: 'Lato-Regular';
  padding: 16px 32px !important;
}

.control-group {
  position: relative;
  margin-bottom: 25px;
}

.control-group:nth-child(2) {
  margin-bottom: 0;
}

.control-group i {
  font-size: 25px;
  color: #000000;
  position: absolute;
  top: 22px;
}

.control-group .fa-mobile {
  font-size: 34px;
  top: 18px;
}


.gutter_right{margin-right: -15px !important;}
.form-control:focus{outline: none;}
.control-group i{padding-left: 10px;}
.gutter_right.mobile_outer{margin-right: 0 !important;padding-right: 0;} 
.modal-dialog{
  max-width: 600px;
}
@media(max-width: 767px){
  .control-group input {
    font-size: 20px;
  }
}
@media (max-width: 575px){
  .country_outer{
    width: 25%;
  }
  
  .mobile_outer{
    width: 74%;
  }
  .control-group input {
    font-size: 16px;
  }
  .control-group .fa-mobile {
      top: 12px;
  }
}

@media (max-width: 460px){
  
  .control-group input {
    padding: 16px 2px 16px 25px !important;
  }
  .country_outer{
    width: 40%;
  }
  .mobile_outer{
    width: 60%;
  }
  
}