.business_detail_view{-webkit-box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);padding: 40px 60px;background: #ffffff;}
.business_title{}
.business_title h2{margin-bottom: 50px;font-size: 26px;color: #c59b42;line-height: 32px;
font-family: 'Lato-Bold';}
.edit_business_form .control-group{margin-bottom: 50px;}
.edit_business_form .control-group label{font-size: 22px;color: #414141;
    font-family: 'Lato-Bold';}
.edit_business_form .control-group input{width: 100%;border-left: 0;border-right: 0;
    border-top: 0;border-bottom: 2px solid #ddd8d8;font-size: 20px;
    color: #414141;height: 50px;}
.edit_business_form .control-group textarea{width: 100%;border: 2px solid #ddd8d8;
	font-size: 20px;color: #414141;min-height: 150px;}

.create_oppo_range .price_title {font-size: 0;}
.create_oppo_range .price_title span{font-size: 18px;color: #a1a0a0;}
.create_oppo_range .price_title  h6{font-size: 18px;color: #000;}
.create_oppo_range .price_left{display: inline-block;text-align: center;}
.create_oppo_range .price_right{display: inline-block;float:right;text-align: center;}
.city_dropdown{
  vertical-align: middle;
  box-shadow: 0px 0px 8px #d0cece;
  -webkit-box-shadow: 0px 0px 8px #d0cece;
  -moz-box-shadow: 0px 0px 8px #d0cece;
  position: relative;
  margin-right:10px;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   border-radius: 25px;
   margin-top: 30px;
}
.city_dropdown:before {
    position: absolute;
    right: 12px;
    top: 7px;
    font-size: 25px;
    color: #c99756;
    content: '\F0D7';
    z-index: 1;
    pointer-events: none;
}
.city_dropdown .dropbtn{
  width: 100%;
  padding: 0px 10px;
  height: 36px;
  font-size: 15px;
  background: #ffffff;
  border: 0;
  vertical-align: middle;
  border-radius: 100px;
  font-family: 'Lato-Medium';
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  text-align: left;
}
.city_dropdown .dropbtn:focus{
  outline: none;
}
.city_dropdown .dropdown-content{
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  background: #fff;
  font-size: 15px;
  font-family: 'Lato-Medium';
  text-align: left;
  top: 37px;
  border: 1px solid #c59b42;
  width: 100%;
}
.city_dropdown .dropdown-content a:hover{
  background: #c59b42;
  color: #fff;
}

.city_dropdown .dropdown-content #myInput {
  border-box: box-sizing;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 5px 20px 6px 26px;
  border: none;
  border: 1px solid #c59b42;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.city_dropdown .city_search_input{
  position: relative;
  margin: 5px;
}
.city_dropdown .city_search_input i{
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translate(0%,-50%);
    color: #c59b42;
}
.city_dropdown .dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.document_upload .browse_btn{background: #c49543;color: #fff;font-size: 18px;padding: 7px 20px;border-radius: 5px;cursor: pointer;}
.document_upload label{width:100%;}
.document_upload .controls{position: relative;}
.document_upload .controls i{position: absolute;right: 10px;bottom: 15px;color: #aba9a9;}

.document_upload ul li{width: 31%;display:inline-block;margin:0 -2px 15px -2px;
  margin-right: 15px;}
.document_upload ul li:nth-child(3),
.document_upload ul li:nth-child(6),
.document_upload ul li:nth-child(9),
.document_upload ul li:nth-child(12){margin-right:0;}
.document_upload ul li img{width: 100%;height: 100%;}
.document_upload ul li span{display: block;text-align:right;cursor: pointer;}
.document_upload ul li:nth-child(4){margin-top: 10px;}
.profile_btn button {text-transform: uppercase;font-family: 'Lato-Heavy';padding: 10px 60px;}
.profile_btn {text-align: center;margin: 50px 0 30px 0;}

@media (min-width: 768px){
  .document_upload ul li{width: 29%;}
  .profile_btn button{font-size: 20px;}
  .document_upload ul li{height: 80px;}
}
@media (min-width: 992px){
  .document_upload ul li{width: 30%;}
  .document_upload ul li{height: 115px;}
}
@media (min-width: 1200px){
  .document_upload ul li{width: 31%;}
}

@media (max-width: 767px){
  .business_detail_view{
    padding: 30px;
  }
  .document_upload ul li{
    width: 29.5%;
  }
}
@media (max-width: 480px){
  .business_detail_view{
    padding: 20px;
  }
  .document_upload ul li{
    width: 30%;
    margin: 0 -2px 10px -2px;
    margin-right: 10px;
  }
}