.location_view iframe{width: 100%;height: 400px;}
.contact_title h2{color: #c59b42;margin:70px 0 50px 0;text-align:center;
text-transform: uppercase;}
.contact_view{background: #ffffff;-webkit-box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);padding: 50px 30px 50px 30px;}
.contact_view .controls{margin-bottom:60px;}
.contact_view .control-group label{font-size: 20px;}
.contact_view .controls input{height: 60px;}
.contact_view .controls input,
.contact_view .controls textarea{border-bottom: 2px solid #717171;
box-shadow: none;border-top:0;border-left: 0;border-right: 0;width: 100%;
font-size: 20px;}
.contact_view .controls textarea{border: 2px solid #717171;height: 200px;} 
.contact_btn{text-align: center;}
.contact_btn button{width: 260px;padding:15px 0;font-size: 20px;text-transform:uppercase;
font-family: 'Lato-Heavy';}
.location_view{margin-left: -15px;margin-right: -15px;}
@media (min-width: 768px){
	.contact_title h2{font-size: 40px;}
}
@media (min-width: 1024px){
	.contact_title h2{font-size: 60px;}
}
@media (max-width: 767px){
	.contact_title h2{font-size: 40px;}
	.contact_view .controls{margin-bottom: 35px;}
	.contact_view .controls input{height: 45px;}
	.contact_btn button{width: 225px;}
	.contact_view .control-group label{margin-bottom: 0;}
}


