<div class="outer_bg">
	<section class="about_bg">
		<div class="container">
			<div class="logo_outer">
				<img src="assets/images/logo RYEC.png">
			</div>
		</div><!--container end-->
		<div class="feature_bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="icon_outer">
							<img src="assets/images/community.png" alt="">
						</div>
						<h5>{{'ang_community' | translate}}</h5>
					</div><!--col-sm-2 end-->
					<div class="col-sm-2">
						<div class="icon_outer">
							<img src="assets/images/product.png" alt="">
						</div>
						<h5>{{'ang_product' | translate}}</h5>
					</div><!--col-sm-2 end-->
					<div class="col-sm-2">
						<div class="icon_outer">
							<img src="assets/images/setting.png" alt="">
						</div>
						<h5>{{'ang_services' | translate}}</h5>
					</div><!--col-sm-2 end-->
					<div class="col-sm-2">
						<div class="icon_outer">
							<img src="assets/images/event.png" alt="">
						</div>
						<h5>{{'ang_events' | translate}}</h5>
					</div><!--col-sm-2 end-->
					<div class="col-sm-2">
						<div class="icon_outer">
							<img src="assets/images/conference-hall.png" alt="">
						</div>
						<h5>{{'ang_conferences' | translate}}</h5>
					</div><!--col-sm-2 end-->
					<div class="col-sm-2">
						<div class="icon_outer">
							<img src="assets/images/investor.png" alt="">
						</div>
						<h5>{{'ang_investors' | translate}}</h5>
					</div><!--col-sm-2 end-->
				</div>
			</div><!--container end-->
		</div><!--feature_bg end-->
	</section>
	<!--about_bg end-->
	<section class="vision_bg">
		<div class="outer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="vision_left_section">
							<div class="vision_title">
								<h2>
								 	{{'ang_our' | translate}}
								</h2>
								<h2>
									{{'ang_vision' | translate}}
								</h2>
							</div>
							<div class="vision_icon">
								<img src="assets/images/vision.png" alt="">
							</div>
						</div>
						
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="vision_right_section">
							<p>{{'ang_ourvisiontext' | translate}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg_left">
			
		</div>
	</section>
	<!--vision section end-->
	<section class="vision_bg clearfix">
		<div class="outer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="vision_right_section">
							<p>{{'ang_ourmissiontext' | translate}}
							</p>
						</div>						
					</div>
					<div class="col-sm-12 col-md-6">
						
						<div class="mission_right">
							<div class="vision_title">
								<h2>
								 	{{'ang_our' | translate}}
								</h2>
								<h2>
									{{'ang_mission' | translate}}
								</h2>
							</div>
							<div class="vision_icon">
								<img src="assets/images/mission.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg_right">
			
		</div>
	</section>
	<!--mission section end-->
	<section class="whtwedo_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title">
						<h2>{{'ang_whatwedo' | translate}}</h2>
						<h6>{{'ang_togethertext' | translate}}</h6>
						<p>
							{{'ang_whatwedotext' | translate}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--what-we-do section end-->
	<section class="vision_bg clearfix app_bg">
		<div class="outer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<!-- <img src="../assets/images/laptop.png" alt="">	 -->	
					</div>
					<div class="col-sm-12 col-md-8">
						<div class="title">
							<h2>{{'ang_chooseyournativeplatform' | translate}}<br/>
 							{{'ang_downloadtheapp' | translate}}</h2>
						</div>
						<div class="app_btn">
							<a href="#">
          						<i aria-hidden="true" class="fa fa-android"></i>{{'ang_googleplaystore' | translate}}
          					</a>
          					<a href="#">
          						<i aria-hidden="true" class="fa fa-apple"></i>{{'ang_iosappstore' | translate}}
          					</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg_right">
			
		</div>
	</section>
	<!--download app section end-->
	<section class="core_mind">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title">
						<h2>{{'ang_coreminds' | translate}}</h2>
					</div>
				</div>				
				<div class="col-sm-6 col-md-6">
					<div class="mind_box">
						<div class="img_outer">
							<img src="../assets/images/jaydebsinh.png" alt="">
						</div>
						<h5>{{'ang_jaydevshinhvagela' | translate}}</h5>
						<h6>{{'ang_ceo' | translate}} & {{'ang_founder' | translate}}</h6>
						<div class="contact_info">
							<span><img src="../assets/images/phone-call.png" alt="">+91 7777777777</span>
							<a href="#"><span><img src="../assets/images/mail.png" alt="">info@ryuva.club</span></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="mind_box">
						<div class="img_outer">
							<img src="../assets/images/Rana.png" alt="">
						</div>
						<h5>{{'ang_mahipalsinhrana' | translate}}</h5>
						<h6>{{'ang_cto' | translate}} & {{'ang_founder' | translate}}</h6>
						<div class="contact_info">
							<span><img src="../assets/images/phone-call.png" alt="">+91 7777777777</span>
							<a href="#"><span><img src="../assets/images/mail.png" alt="">info@ryuva.club</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--core minds section end-->
	<section class="vision_bg clearfix app_bg how_it_work_bg">
		<div class="outer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-5">
						<!-- <img src="../assets/images/laptop.png" alt="">	 -->	
						<div class="title">
							<h2>{{'ang_how' | translate}}</h2>
							<h2>{{'ang_it' | translate}}</h2>
							<h2>{{'ang_works' | translate}}</h2>
						</div>
					</div>
					<div class="col-sm-12 col-md-7">
						<div class="work_list">
							<div class="list_outer"></div>
							<span>{{'ang_getcustomers' | translate}}</span>
							<span>{{'ang_getinvestors' | translate}}</span>
							<span>{{'ang_shareyourservices' | translate}}</span>
							<span>{{'ang_promotoyourbrand' | translate}}</span>
							<span>{{'ang_getlikemindedpartners' | translate}}</span>
							<span>{{'ang_growyourbusinesses' | translate}}</span>
							<span>{{'ang_growyournetwork' | translate}}</span>
							<span>{{'ang_showcaseyourprofile' | translate}}</span>
							<span>{{'ang_showcaseyourproducts' | translate}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg_right">
			
		</div>
	</section>
	<!--how it works end-->
</div>
