.outer_bg{
	margin-left: -15px;
	margin-right: -15px;
	background: #fff;
}
.about_bg{
	background: url('/assets/images/aboutus-banner.png');
	background-size: cover;
	position: relative;
	padding-bottom: 60px;
	z-index: 1;
}
.about_bg::before{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: rgba(0,0,0,0.7);
	z-index: 1;
}
.about_bg .logo_outer{
	text-align: center;
	position: relative;
	z-index: 2;
	padding: 40px 0;
}
.feature_bg{
	background: rgba(197, 155, 66, 0.65);
	z-index: 3;
	position: relative;
	padding: 20px 0;
}
.feature_bg .icon_outer{
	text-align: center;
	height: 80px;
}
.feature_bg h5{
	text-align: center;
	text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    font-family: "Lato-Heavy";
    margin-bottom: 0;
}
.bg_left{
	height: 460px;
    background: #c59b42;
    position: relative;
}
.bg_left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    bottom: 0;
    border-top: 460px solid transparent;
    border-left: 360px solid #c59b42;
}
.bg_right{
	height: 460px;
    background: #c59b42;
    position: relative;
    float: right;
}
.bg_right::after{
	content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    bottom: 0;
    border-bottom: 460px solid transparent;
    border-right: 360px solid #c59b42;

}
.vision_bg{
	position: relative;
}
.vision_bg .outer{
	position: absolute;
	width: 100%;
	content: "";
	z-index: 999;
	height: 100%;
}
.vision_bg .vision_title{
	padding-top: 10%;
}
.vision_bg .vision_icon{
	padding-top: 30px;
}
.vision_bg .vision_title h2{
	color: #fff;
	text-transform: capitalize;
}
.vision_right_section{
	padding-top: 20%;
}
.vision_right_section p{
	text-align: center;
	font-size: 25px;
    line-height: 45px;
}
.mission_right{
	text-align: right;
}
.whtwedo_bg{
	background: url('/assets/images/what-we-do.png');
	background-size: cover;
	text-align: center;
}
.title h2{
	font-size: 50px;
	color: #c59b42;
	font-family: 'Lato-bold';
	padding: 90px 0 40px 0;
}
.whtwedo_bg h6{
	font-family: 'Lato-Italic';
	color: #fff;
	font-size: 35px;
}
.whtwedo_bg p{
	font-size: 28px;
	font-family: 'Lato-Medium';
	color: #fff;
	padding: 5% 6%;
}
.app_bg{
	background: url('/assets/images/laptop.png');
	background-repeat: no-repeat;
    background-size: contain;
}
.app_bg .title h2{
	color: #fff;
	text-align: right;
	padding-top: 60px;
    padding-bottom: 80px;
    font-family: 'Lato-Medium';
}
.app_bg .outer{
	border-bottom: 8px solid #c59b42;
}
.app_bg .bg_right{
	height: 550px;
}
.app_bg .bg_right::after{
	border-bottom: 550px solid transparent;
}
.app_bg .app_btn{
	float: right;
}
.app_bg .app_btn a{
	color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    border: 2px solid #ffffff;
    padding: 20px 60px;
    display: block;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    margin-bottom: 25px;
}
.app_bg .app_btn a i{
	margin-right: 25px;
}
.app_bg .app_btn a:hover{
	transform: scale3d(1.1, 1.1, 1.1);
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -moz-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    -o-transform: scale3d(1.1, 1.1, 1.1);
}
.core_mind .title h2{
	text-align: center;
}
.mind_box{
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
	padding: 12% 10%;
    margin: 0 10%;
    margin-bottom: 50px;
    border-top: 7px solid transparent; 
  	border-bottom: 7px solid transparent; 
}
.mind_box .img_outer{
	height: 250px;
	width: 250px;
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;
}
.mind_box .img_outer img{
	height: 100%;
	width: 100%;
	border-radius: 100%;
	border:5px solid transparent;
}
.mind_box h5{
	font-size: 27px;
	font-family: 'Lato-Bold';
	text-transform: capitalize;
}
.mind_box h6{
	font-size: 24px;
	color: #a0a0a0;
}
.contact_info span{
	display: block;
	color: #000;
	font-size: 20px;
	margin-bottom: 10px;
}
.contact_info{
	padding-bottom: 40px;
	border-top:1px solid #e6e5e2

	;
	padding-top: 10px;
    margin-top: 15px;
}
.contact_info a{
	color: #000;
	text-decoration: none;
}
.contact_info img{
	width: 25px;
	margin-right: 12px;
}
.mind_box:hover{
	-webkit-box-shadow: 0px 0px 11px 3px #efefef;
  	-moz-box-shadow:    0px 0px 11px 3px #efefef;
  	box-shadow:         0px 0px 11px 3px #efefef;
  	border-top: 7px solid #c59b42; 
  	border-bottom: 7px solid #c59b42; 
}
.mind_box:hover .img_outer img{
	border:5px solid #c59b42;
}
.how_it_work_bg{
	background: url('/assets/images/howitwork_bg.png');
	background-size: initial;
	background-repeat: no-repeat;
}
.how_it_work_bg .outer{
	border-bottom: none;
}
.work_list{
	padding-top: 40px;
    /* padding-left: 60px; */
}
.list_outer {
  	shape-outside: polygon(0 0, 0 100%, 100% 100%);
	width: 50%;
	height: 527px;
	float: left;
}
.work_list span{
  display: list-item;
  list-style-position: inside;
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}
.how_it_work_bg .title h2{
	color: #c59b42;
    text-align: center;
    padding: 0px 0;
    font-family: 'Lato-Bold';
    text-transform: uppercase;
}
.how_it_work_bg .title{
	padding-top: 40%;
}

@media(min-width: 768px){
	.bg_left,
	.bg_right{
		width: 20%;
	}
	.vision_bg .vision_title h2{
		font-size: 35px;
	}
	.vision_right_section p{
		font-size: 20px;
    	line-height: 36px;
	}
	.logo_outer img{
		width: 30%;
	}
	.title h2{
		font-size: 36px;
		padding: 50px 0 40px 0;
	}
	.whtwedo_bg p{
		font-size: 20px;
	}
	.app_bg{
		background-size: 40%;
    	background-position: left;
	}
	.app_bg .bg_right{
		width: 30%;
	}
	.vision_bg .title h2{
		font-size: 35px;
	}
	.app_bg .app_btn a{
		font-size: 22px;
		padding: 20px 40px;
	}
	.how_it_work_bg{
		background-size: contain;
	}
	.how_it_work_bg .bg_right{
		width: 32%;
	}
	.work_list span{
		font-size: 18px;
	}
	.whtwedo_bg h6{
		font-size: 28px;
	}
	.mind_box{
		padding: 12% 5%;
	}
	.how_it_work_bg .bg_right
	{
		height: 500px;
	}
	.how_it_work_bg .bg_right::after{
		border-bottom: 500px solid transparent;
	}
	.core_mind{
		margin-bottom:50px;
	}
	.list_outer{
		height: 440px;
	}
	 
}
@media(min-width: 992px){
	.bg_left,
	.bg_right{
		width: 10%;
	}
	.vision_bg .vision_title h2{
		font-size: 35px;
	}
	.vision_right_section p{
		font-size: 20px;
    	line-height: 36px;
	}
	.logo_outer img{
		width: 30%;
	}
	.title h2{
		font-size: 40px;
		padding: 50px 0 40px 0;
	}
	.whtwedo_bg p{
		font-size: 24px;
	}
	.app_bg{
		background-size: 40%;
    	background-position: left;
	}
	.app_bg .bg_right{
		width: 30%;
	}
	.vision_bg .title h2{
		font-size: 35px;
	}
	.app_bg .app_btn a{
		font-size: 22px;
	}
	.how_it_work_bg{
		background-size: contain;
	}
	.how_it_work_bg .bg_right{
		width: 32%;
	}
	.work_list span{
		font-size: 22px;
	}
	.whtwedo_bg h6{
		font-size: 36px;
	}
	.app_bg .app_btn a{
		padding: 20px 60px;
	}
	.mind_box{
		padding: 12% 10%;
	}
	.how_it_work_bg .bg_right{
		height: 550px;
	}
	.how_it_work_bg .bg_right::after{
		border-bottom:550px solid transparent;
	}
	.list_outer{
		height: 527px;
	}
}
@media(min-width: 1024px){
	.bg_left,
	.bg_right{
		width: 13%;
	}
	.vision_bg .vision_title h2{
		font-size: 40px;
	}
	.vision_right_section p{
		font-size: 25px;
    	line-height: 45px;
	}
	.logo_outer img{
		width: auto;
	}
	.title h2{
		font-size: 50px;
		padding: 90px 0 40px 0;
	}
	.whtwedo_bg p{
		font-size: 28px;
	}
	.how_it_work_bg .bg_right{
		width: 35%;
	}
	.work_list span{
		font-size: 25px;
	}
}
@media(min-width: 1200px){
	.bg_left,
	.bg_right{
		width: 18%;
	}
	.vision_bg .vision_title h2{
		font-size: 50px;
	}
	.how_it_work_bg .bg_right{
		width: 40%;
	}
}
@media(min-width: 1400px){
	.bg_left,
	.bg_right{
		width: 23%;
	}
	.vision_bg .vision_title h2{
		font-size: 60px;
	}
	.app_bg .bg_right{
		width: 35%;
	}
	.vision_bg .title h2{
		font-size: 40px;
	}
	.app_bg{
		background-size: contain;
    	background-position: left;
	}
	.app_bg .app_btn a{
		font-size: 30px;
	}
	.how_it_work_bg{
		background-size: cover;
	}
	.how_it_work_bg .bg_right{
		width: 45%;
	}
}
@media(min-width: 1600px){
	.bg_left,
	.bg_right{
		width: 25%;
	}
	.app_bg .bg_right{
			width: 40%;
	}
	.vision_bg .title h2{
		font-size: 50px;
	}
}
@media(min-width: 1800px){
	.bg_left,
	.bg_right{
		width: 30%;
	}
	.vision_bg .vision_title h2{
		font-size: 80px;
	}
	.app_bg .bg_right{
			width: 45%;
	}
}

@media(max-width: 767px){
	.vision_left_section,
	.mission_right{
		background: #c59b42;
    	text-align: center;
    	padding: 20px 0;
	}
	.vision_bg .outer{
		position: static;
	}
	.vision_bg .vision_title{
		padding-top: 0;
	}
	.vision_right_section{
		padding:20px 0;
	}
	.vision_right_section p{
		font-size: 20px;
		line-height: 35px;
		color: #fff;
	}
	.bg_left,
	.bg_right{
		display: none;
	}
	.title h2{
		padding: 30px 0 30px 0;
		font-size: 36px;
	}
	.whtwedo_bg h6{
		font-size: 24px;
	}
	.whtwedo_bg p{
		font-size: 22px;
	}
	.vision_bg{
		background: #c59b42;
	}
	.app_bg .title h2{
		text-align: center;
	}
	.app_bg .app_btn{
		float: none;
		width: 50%;
		margin:0 auto;
	}
	.how_it_work_bg .title{
		padding-top: 20px;
		text-align: center;
	}
	.how_it_work_bg .title h2{
		color: #fff;
		display: inline-block;
		margin-right:10px;
	}
	.how_it_work_bg .list_outer{
		display: none;
	}
	.work_list span{
		font-size: 20px;
	}
	.logo_outer img{
		width: 50%;
	}
	.mind_box{
		padding: 12% 5% 0% 5%;
	}
	.core_mind{
		margin-bottom:20px;
	}
	.app_bg .app_btn a{
		padding:20px 0;
		text-align: center;
	}
	.app_bg .app_btn a:hover{
		transform: inherit;
	    -webkit-transform: inherit;
	    -moz-transform: inherit;
	    -ms-transform: inherit;
	    -o-transform: inherit;
	}
	.feature_bg h5{
		font-size: 14px;
	}
	.icon_outer img{
		width: 50%;
	}
	.feature_bg .icon_outer{
		height: 50px;
	}

}

@media(max-width: 600px){
	.app_bg .app_btn{
		width: 100%;
	}
	.app_bg .app_btn a{
		font-size: 24px;
		text-align: center;
	}
	.mind_box h5{
		font-size: 24px;
	}
	.mind_box h6{
		font-size: 20px;
	}
	.contact_info span{
		font-size: 18px;
	}
	.contact_info img{
		width: 20px;
	}
	.title h2{
		font-size: 30px;
	}
	.mind_box .img_outer{
		width: 200px;
		height: 200px;
	}
	.mind_box{
		padding: 12% 0 0 0;
	}
}
@media(max-width: 575px){
	.feature_bg .col-sm-2{
		width: 33.333333%;
		margin-bottom: 15px;
	}
	.icon_outer img{
		width: 50px;
	}
}
@media(max-width: 480px){
	.whtwedo_bg h6{
		font-size: 20px;
	}
	.whtwedo_bg p{
		font-size: 18px;
	}
	.app_bg .title h2{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.app_bg .app_btn a{
		padding:20px 0;
	}
	.work_list{
		padding-top: 0;
	}
}
