<div class="sub-category_banner">
  <img alt="logo" [src]="parentCategoryArr?.image_url">
</div>
<div class="container">
  <div class="sub_category_view">
    <div class="cate-name">
      <span *ngFor="let cat of caregoryArray; let isEnd = last;"> <span>{{cat.name}}</span> <span *ngIf="!isEnd"> >> </span> </span>
    </div>  
    <div class="sub_category_listing">
      <ul>
        <li *ngFor="let item of parentCategoryArr?.sub_category">
          <!-- <div *ngIf="item.sub_category_count > 0 && item.isBusiness == 1; then showCategory; else item.isBusiness == 1; then showBusinessDetail;"></div> -->
          <div #showCategory *ngIf="item.sub_category_count > 0 && item.isBusiness == 1">
            <a href="" routerLink="/category/{{item.category_slug}}" (click)="saveParentCategory(item)">
              <span>
                <img width="25px" height="25px" [src]="item.image_url">
              </span>{{item.name}}
              <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
          </div>
          <div #showBusinessDetail *ngIf="item.sub_category_count == 0 && item.isBusiness == 1">
            <a href="" routerLink="/home/business-list/{{item.category_slug}}/relevance">
              <span> 
                <img width="25px" height="25px" [src]="item.image_url">
              </span>{{item.name}}
              <i aria-hidden="true" class="fa fa-angle-right"></i>
            </a>
          </div>
        </li>
        <li *ngIf="parentCategoryArr?.sub_category.length == 0">
          <div *ngIf="noData == true" style=" text-align: center;padding: 20px;">
              <img src="../assets/images/norecordfound.png" style="height:250px;margin:20px;">
              <h3>{{'ang_nomatches' | translate}}</h3>
          </div>
        </li>
      </ul>
    </div>
    <!-- sub_category_listing End -->
  </div>
  <!-- sub_category_view End -->
</div>
<!-- container End -->
