.control-group input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #b2b2b2;
  width: 100%;
  font-size: 24px;
  color: #645d4b;
  padding: 16px 35px 16px 35px;
  font-family: 'Lato-Regular';
}

.control-group {
  position: relative;
  margin-bottom: 25px;
}

.control-group:nth-child(2) {
  margin-bottom: 0;
}

.control-group i {
  font-size: 25px;
  color: #000000;
  position: absolute;
  top: 22px;
}

.control-group .fa-mobile {
  font-size: 34px;
  top: 18px;
}
