/*.submit_approval_view {
  background: #ffffff;
  padding: 0px 60px;
  margin: 0px auto;
  /* box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
}*/

.control-group textarea {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #b2b2b2;
  width: 100%;
  font-size: 24px;
  color: #645d4b;
  padding: 16px 35px 16px 35px;
  font-family: 'Lato-Regular';
}

.control-group {
  position: relative;
  margin-bottom: 25px;
}

.control-group:nth-child(2) {
  margin-bottom: 0;
}

.control-group i {
  font-size: 25px;
  color: #000000;
  position: absolute;
  top: 22px;
}

.control-group .fa-mobile {
  font-size: 34px;
  top: 18px;
}

.thank_you {
  font-size: 40px;
  text-align: center;
  font-family: 'lato-Bold';
  margin-bottom: 20px;
}

.thank_you span {
  color: #c59b42;
}

.thank_section {
  text-align: center;
}

.thank_section h2 {
  font-size: 50px;
  color: #c59b42;
  font-family: 'Lato-Medium';
  margin: 30px 0;
}

.thank_section h4 {
  color: #2b2b2b;
  font-size: 24px;
  font-family: 'Lato-Bold';
  line-height: 1.3;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .signup_view {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .signup_view {
    width: 70%;
  }
}

@media (max-width: 767px) { 
  .signup_view {
    padding: 20px 20px;
  }
  .type_of_language button {
    font-size: 20px;
    padding: 7px 30px;
  }
  .signup_view .control-group {
    margin-bottom: 30px;
  }
  .signup_view .control-group input,
  .signup_view .control-group textarea {
    font-size: 20px;
  }
  .signup_view {
    margin: 20px auto;
  }
  .thank_section h2 {
    font-size: 35px;
    margin: 20px 0;
  }
  .thank_section h4 {
    font-size: 25px;
    line-height: 25px;
  }
  .thank_you_img img {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .thank_you {
    font-size: 30px;
    line-height: 35px;
  }
    .thank_section h2 {font-size: 26px;}
  .thank_section h4 {
    font-size: 18px;
    line-height: 20px;
  }
  .thank_you_img img {
    width: 50%;
  }
}
